{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-lg-7">
        <h1>Hello World</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ea,
            ut eum dolorum inventore perferendis repellat dicta accusamus commodi,
            tempora perspiciatis incidunt odit. Minima exercitationem expedita, quae
            doloribus repudiandae inventore?
        </p>
    </div>
    <div class="col-lg-5">
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates ducimus inventore quia, quae quam
            reiciendis eligendi explicabo non deleniti aliquid, modi dignissimos ullam ipsa incidunt vel similique fuga?
            Suscipit, dolores?</p>
    </div>
</div>

{% endblock content %}