{% extends 'base.html' %} {% block content %}
<div class="row">
    <h1 style="margin-bottom: 5px;">FallenBirdy</h1>
    <div>
        <div id="wfvmainsquare">
            <div class="wfvwhitesquare"></div>
            <div class="wfvwhitesquare" style="rotate: 90deg;"></div>
        </div>
    </div>
    <div style="margin-bottom: 5px;">
        Offizielle App der Wildvogelhilfe Jena, eine Organisation des <a
            href="https://www.nabu-jena.de" target="_blank">NABU Jena</a>
    </div>
    <p>
        Bitte <a href="{% url 'account_login' %}">hier</a> anmelden
    </p>
</div>

{% endblock content %}
