{% load static %}
{% if user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" alt="logo" width="35" height="35" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if '/bird/all/' in request.path %} active {% endif %}"
                        href="{% url 'bird_all' %}">alle Patienten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/rescuer/all' in request.path %} active {% endif %}"
                        href="{% url 'rescuer_all' %}">alle Finder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/aviary/all' in request.path %} active {% endif %}"
                        href="{% url 'aviary_all' %}">alle Volieren</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav pull-right">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if '/bird/help/' in request.path %} active {% endif %}"
                        href="{% url 'bird_help' %}">Hilfe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/accounts/email/' in request.path %} active {% endif %}"
                        href="{% url 'account_email' %}">Profile</a>
                </li>
                <li class="class-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endif %}
<br />
