{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<h3>Patient <strong>{{ bird.bird_identifier }}</strong> bearbeiten </h3>
<p>Finder des Patienten: <strong> <a href="{% url 'rescuer_single' bird.rescuer_id %}">{{ bird.rescuer|default_if_none:"" }}</a></strong>. 
    Das Alter des Patienten bei Fund wurde mit <strong>{{ bird.age }}</strong> angegeben.</p>
<div class="row">
    <div class="col-lg-5 mb-3">
        <form method="post" enctype="multipart/form-data">
            <fieldset>
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-success" type="abbort">Abbrechen</button>
                <a href="{% url 'bird_delete' bird.id %}" class="btn btn-danger">Löschen</a>
                <a href="{% url 'costs_create' bird.id %}" class="btn btn-warning">Eine Buchung anlegen</a>
                <button class="btn btn-primary" type="submit">Speichern</button>
            </fieldset>
        </form>
    </div>

    <div class="col-lg-5">
        <h4>
            Kennung
        </h4>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reiciendis, hic enim pariatur, exercitationem, repellat quasi sit
            temporibus dicta voluptate in voluptates. Alias deserunt sint
            suscipit explicabo et. Perferendis, dolor praesentium.
        </p>
        <h4>
            Vogel
        </h4>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reiciendis, hic enim pariatur, exercitationem, repellat quasi sit
            temporibus dicta voluptate in voluptates. Alias deserunt sint
            suscipit explicabo et. Perferendis, dolor praesentium.
        </p>
        <h4>
            Fundort
        </h4>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reiciendis, hic enim pariatur, exercitationem, repellat quasi sit
            temporibus dicta voluptate in voluptates. Alias deserunt sint
            suscipit explicabo et. Perferendis, dolor praesentium.
        </p>
        <h4>
            Voliere
        </h4>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reiciendis, hic enim pariatur, exercitationem, repellat quasi sit
            temporibus dicta voluptate in voluptates. Alias deserunt sint
            suscipit explicabo et. Perferendis, dolor praesentium.
        </p>
        <h4>
            Kosten
        </h4>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reiciendis, hic enim pariatur, exercitationem, repellat quasi sit
            temporibus dicta voluptate in voluptates. Alias deserunt sint
            suscipit explicabo et. Perferendis, dolor praesentium.
        </p>
    </div>
</div>

<script src="{% static 'js/bird.js' %}"></script>

{% endblock content %}