{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<h3>Stammdaten des Finders</h3>
<div class="row">
    <div class="col-lg-6  mt-3 mb-3">
        <div class="card bg-light mb-3" style="max-width: 32rem;">
            <div class="card-header">Adressdaten des Finders</div>
            <div class="card-body">
                <h4 class="card-title">{{rescuer.first_name}} {{rescuer.last_name}}</h4>
                <p class="card-text">
                    <strong>Straße:</strong> {{rescuer.street}} {{rescuer.street_number}}<br>
                    <strong>Stadt:</strong> {{rescuer.city}}<br>
                    <strong>PLZ:</strong> {{rescuer.zip_code}}<br>
                    <strong>Phone:</strong> {{rescuer.phone}}<br>
                </p>
            </div>
        </div>
        <a href="{% url 'rescuer_all' %}" class="btn btn-success">Abbrechen</a>
        <a href="{% url 'rescuer_delete' rescuer.id %}" class="btn btn-danger">Löschen</a>
        <a href="{% url 'rescuer_edit' rescuer.id %}" class="btn btn-primary">Bearbeiten</a>
    </div>

    <div class="col-lg-4">
        <h4>
            Patienten des Finders
        </h4>
        <p>Hier finden Sie die Patienten, die der Finder zur Auffangstation gebracht hat.</p>
        <p>
            {% for bird in birds %}
            <div class="card bg-light mb-3" style="max-width: 30rem;">
                <div class="card-header"><h5 class="card-title">Patient: {{bird.bird_identifier}}</h5></div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Vogel:</strong> {{bird.bird}}<br>
                        <strong>gefunden am:</strong> {{bird.created}}<br>
                        <strong>Statusänderung am:</strong> {{bird.updated}}<br>
                        <strong>Fundumstände:</strong> {{bird.find_circumstances}}<br>
                        <strong>Diagnose:</strong> {{bird.diagnostic_finding}}<br>
                    </p>
                </div>
            </div>
            {% endfor %}
        </p>
    </div>

</div>

{% endblock content %}