{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <div id="content-main">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <fieldset class="module aligned">
                <h2>{% trans "CSV-Datei hochladen" %}</h2>
                {{ form.as_p }}
            </fieldset>
            <div class="submit-row">
                <button type="submit" class="default">{% trans "Import starten" %}</button>
                <a class="button cancel-button" href="{% url 'admin:stations_wildbirdhelpstation_changelist' %}">{% trans "Abbrechen" %}</a>
            </div>
        </form>
    </div>
{% endblock %}
