{load static}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% comment %} favicon {% endcomment %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    {% comment %} possible dynamic header {% endcomment %}
    <title>{% block head_title %}lv&middot;rb{% endblock %}</title>

    {% comment %} custom header {% endcomment %}
    {% block header %} {% endblock header %}
  </head>
  <body>
    <!--navbar-->
    {% block navbar %}
        {% include 'partials/_navbar.html' %}
    {% endblock navbar %}

    <!--content-->
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <!--footer-->
    {% block footer %}
        {% include 'partials/_footer.html' %}
    {% endblock footer %}

	<!-- JavaScript Bundle with Popper -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
