{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <h3>Stammdaten des Finders</h3>
        <div class="card bg-light mb-3" style="max-width: 30rem;">
            <div class="card-header">Adressdaten</div>
            <div class="card-body">
                <h4 class="card-title">{{rescuer.first_name}} {{rescuer.last_name}}</h4>
                <p class="card-text">
                    {{rescuer.city}} {{rescuer.street}}<br>
                    {{rescuer.zip_code}}<br>
                    {{rescuer.email}}<br>
                    {{rescuer.phone}}<br>
                </p>
            </div>
        </div>
        <a href="{% url 'rescuer_all' %}" class="btn btn-success">zurück zur Übersicht</a>
        <a href="{% url 'rescuer_delete' rescuer.id %}" class="btn btn-danger">Löschen</a>
        <a href="{% url 'rescuer_edit' rescuer.id %}" class="btn btn-primary">Bearbeiten</a>
    </div>

    <div class="col-lg-6">
        <h4>eins</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia tempore voluptatibus voluptatum possimus in
            iusto exercitationem perspiciatis eaque harum, nihil, praesentium debitis nisi unde eligendi, qui sapiente
            odit expedita aut.</p>
            
        <h4>zwei</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia tempore voluptatibus voluptatum possimus in
            iusto exercitationem perspiciatis eaque harum, nihil, praesentium debitis nisi unde eligendi, qui sapiente
            odit expedita aut.</p>
    </div>

</div>

{% endblock content %}